{% extends 'core/no_carousel.html' %}

    {% block content %}
        <h3>About</h3>
        <p><span class="intrycket">Intrycket Design</span> is an independent website development and design company.</p>
        <h3>Data</h3>
        <p>Your data is by no means sold to other companies. We collect your data when you accept the terms of service when signing up. The data is yours and when you delete 
            your account, we do not keep anything.</p> 
        <p>When you read a blog post, no matter if you have an account or not, a read counter will update the amount of reads on that page. 
            It only adds to the count when you open a post in full view and counting is done by collecting your IP in a session. Once the session has concluded your IP will be removed
            Users with accounts will use there user name when reading to count towards the total. </p>
        <p>A user profile is created when you sign up for an account. These acounts and profiles are completely free. You have access to view your profile and comment. The profile displayes 
            all the comments you might have left on posts.
        </p>
        <p>The links at the bottom redirect you to profiles of Vihan Le Roux. These links are subject to the link website's privacy policy. <span class="intrycket">Intrycket Design</span> 
            will by no means be responsible for your data after that.</p>

    {% endblock %}